<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flight Scheduler</title>
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <!-- Load libraries -->
  <script type="text/javascript" src="lib/angular.js"></script>
  <script type="text/javascript" src="lib/angular-ui-router.js"></script>
</head>
<body ng-app="flightScheduler" ng-controller="AppCtrl as app">
  <div class="side-menu-bar">
    <ul>
      <li ng-click="app.navigate('home')"><span>Home</span></li>
      <li ng-click="app.navigate('cuba')"><span>Cuba</span></li>
      <li><span class="not-available">Hawaii</span></li>
      <li><span class="not-available">Europe</span></li>
    </ul>
  </div>
  <div class="content-area">
    <div ui-view></div>
  </div>
  <!-- Load application files -->
  <script type="text/javascript" src="app/flightScheduler.js"></script>
  <script type="text/javascript" src="app/home/HomeCtrl.js"></script>
  <script type="text/javascript" src="app/cuba/home/CubaCtrl.js"></script>
</body>
</html>