<div class="upcoming-trips-header">
  <h4>Upcoming Celebrity Trips</h4>
  <div class="filter-control">
    <div>Face</div>
    <div>Days</div>
    <div>$</div>
  </div>
  <div class="clearfix"></div>
</div>
<div class="trips-holder">
  <div class="card info-trip-card" ng-repeat="card in homeCtrl.cards">
    <h4>{{ card.title }}</h4>
    <p>{{ card.description }}</p>
    <table>
      <tr>
        <td>Days</td>
        <td>{{ card.days }}</td>
      </tr>
      <tr>
        <td>Availability</td>
        <td>{{ card.spacesOccupied }}/{{ card.totalSpaces }}</td>
      </tr>
    </table>
    <div class="trip-card-actions">
      <button ng-click="homeCtrl.signForTrip(card.tripId)">Sign Up</button>
    </div>
  </div>
</div>