<div class="row main-content-top">
  <div class="large-12 columns">
    <h2 class="top-title"><span class="title-icon"><i class="icon-fighter-jet"></i></span>Creating Trip</h2>
  </div>
</div>
<div class="row main-content special-padding">
  <div class="large-12 columns">
    <div class="step-header">
      <a ui-sref-active="active" ui-sref='trip.create.step-1'>1</a>
      <a ui-sref-active="active" ui-sref='trip.create.step-2'>2</a>
      <a ui-sref-active="active" ui-sref='trip.create.step-3'>3</a>
      <a ui-sref-active="active" ui-sref='trip.create.step-4'>4</a>
      <a ui-sref-active="active" ui-sref='trip.create.step-5'>5</a>
      <a ui-sref-active="active" ui-sref='trip.create.step-6'>6</a>
      <a ui-sref-active="active" ui-sref='trip.create.step-7'>7</a>
    </div>
    <ui-view class="create-steps" />
  </div>
</div>