<h1>Proposed Itinerary</h1>
<div class="switch-container" ng-repeat="itineraryOption in createStepCtrl.selection.destination.itineraryOptions">
  <div class="switch" style="width: 60px;">
    <input name="switch-{{itineraryOption.id}}" type="radio" ng-model="itineraryOption.selected" value="no">
    <label>No</label>

    <input name="switch-{{itineraryOption.id}}" type="radio" ng-model="itineraryOption.selected" value="yes">
    <label>Yes</label>
    <span></span>
  </div>
  <span class="title">{{ itineraryOption.title }}</span>
</div>

<button ng-click='createStepCtrl.submitItinerary(createStepCtrl.selection.destination.itineraryOptions)'>Submit Itinerary</button>