<div class="md-whiteframe-1dp">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
          <span>Yogo! Create Trip</span>
        </h2>
    </div>
  </md-toolbar>
  <md-content layout-padding>
    <!-- Draggable element. -->
    <div ng-repeat="item in da.availableOptions"
      draggable="true" 
      effect-allowed="copy" 
      draggable-type="custom-object" 
      draggable-data="item">
        {{ item.title }}
    </div>
    <!-- Dropzone element. -->
    <div  class="drop-zone" 
      drop="da.onDrop($data, $event)" 
      drop-effect="copy" 
      drop-accept="'json/custom-object'" 
      drag-over="da.onDragOver($event)"
      drag-over-class="drag-over-accept">
      <div ng-repeat="item in da.selectedOptions">
        {{ item.title }}
      </div>
    </div>
  </md-content>
  <div style="border-top: #c1c1c1 solid 1px;" layout-padding>
      <yt-create-trip-options-list></yt-create-trip-options-list>
  </div>
 </div>
