@import "reset";
@import "variables";

/* Set full screen */
html,body { height: 100%; }

h1 {
  font-size: @default-font-size * 3;
}

h3 {
  font-size: @default-font-size * 2;
}

h4 {
  font-size: @default-font-size * 1.1;
}

.side-menu-bar {
  float: left;
  -webkit-box-shadow: 3px 0 5px -2px #888;
            box-shadow: 3px 0 5px -2px #888;
  width: 15%;
  min-width: 200p;
  height: 100%;
}

.side-menu-bar ul li {
  line-height: @default-font-size * 2;
  font-size: @default-font-size * 1.2;
  cursor: pointer;
  padding: 5px 10px;
}

.side-menu-bar ul li:hover {
  background-color: #a2a2a2;
}

.content-area {
  float: left;
  width: 85% - 21px; 
  min-width: 800px;
  padding: 5px 10px;
  height: 100%;
}